<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<footer class="bg-dark text-white text-center py-3">
    <p>&copy; 2025 Occasio. All Rights Reserved.</p>
    <div class="container my-3">
        <h4>For Testing purpose Only !!</h4>
        <a href="/set-user?role=admin" class="btn btn-primary">Set Admin</a>
        <a href="/set-user?role=customer" class="btn btn-secondary">Set Customer</a>
      </div>
</footer>