<header class="hero bg-dark text-white text-center py-5">
    <div class="container">
        <h1 class="display-4">Organizer Panel <br>Welcome, <%= user.name %>!</h1>
        <p class="lead">Manage, edit, and track all events in one place.</p>
        <a href="/create-event" class="btn btn-success btn-lg">Add New Event</a>
        <a href="/my-events" class="btn btn-warning btn-lg">Manage Events</a>
    </div>
</header>